* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*NAVBAR*/
.navbar {
  background-color: black;
  /*navbar-brand*/
  /*nav*/
}

.navbar .navbar-brand {
  margin: 0 0 0 2rem;
  padding: 1rem;
  font-weight: 700;
  color: white;
}

.navbar .nav {
  /*nav-item*/
  /*.nav-link*/
}

.navbar .nav .nav-item {
  padding: 0.7rem 1rem;
}

.navbar .nav .nav-item:hover {
  background-color: #f7f7f7;
}

.navbar .nav .nav-item:hover .nav-link {
  color: black;
}

.navbar .nav .nav-link {
  color: white;
}

.navbar .nav .nav-link i {
  margin: 0 0.5rem 0 0;
  font-size: 1.5rem;
}

.navbar .offcanvas {
  -webkit-transition: 1s;
  transition: 1s;
}

/*navbar*/
/*sidebar*/
.sidebar-btn {
  margin: 0 1rem 0 0;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  color: white;
  display: none;
}

.sidebar-btn i {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .sidebar-btn {
    display: block;
  }
  .navbar .nav {
    display: none;
  }
}

.container-fluid {
  /**section-1**/
  /*.section-1*/
  /*section-2 heading*/
  /*.section-2-heading*/
  /*section-2*/
  /*section-2*/
  /*section-3*/
  /*.section-3*/
  /*section-4*/
  /*section-4*/
}

.container-fluid .section-1 {
  min-height: 70vh;
  background-image: url("img-1.jpg");
  background-size: cover;
}

.container-fluid .section-1 .inner-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .section-1 .inner-section-1 .inner-section-1-text {
  margin: 0 0 0 3rem;
}

.container-fluid .section-1 .inner-section-1 .inner-section-1-text h1 {
  color: white;
  font-size: 3.5rem;
}

.container-fluid .section-1 .inner-section-1 .inner-section-1-text p {
  color: white;
  margin: 2rem 0;
}

.container-fluid .section-1 .inner-section-1 .inner-section-1-text button {
  padding: 1rem;
  border: none;
  font-weight: 900;
}

.container-fluid .section-1 .inner-section-1 .inner-section-1-text button:hover {
  background-color: rgba(255, 255, 255, 0.582);
  color: white;
}

@media screen and (max-width: 400px) {
  .container-fluid .section-1 .inner-section-1 .inner-section-1-text h1 {
    font-size: 2rem;
  }
}

.container-fluid .section-2-heading .section-2-heading-text {
  text-align: center;
  padding: 6rem;
}

.container-fluid .section-2-heading .section-2-heading-text p {
  margin: 2rem 0 0 0;
}

.container-fluid .section-2 .card-group .card {
  border: none;
  padding: 0 0 2.5rem 0;
}

.container-fluid .section-2 .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .section-2 .card-group .card .card-body i {
  font-size: 7rem;
}

.container-fluid .section-2 .card-group .card .card-body .card-title {
  margin: 2.5rem 0;
  font-size: 1.5rem;
}

.container-fluid .section-2 .card-group .card .card-body .card-text {
  text-align: center;
}

.container-fluid .section-3 {
  background-color: #dad0d0;
}

.container-fluid .section-3 .section-3-left {
  padding: 3rem;
}

.container-fluid .section-3 .section-3-left h3 {
  text-align: center;
  font-weight: 300;
  margin: 3rem 0;
}

.container-fluid .section-3 .section-3-left button {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem;
}

.container-fluid .section-3 .section-3-left button i {
  margin: 0 0.5rem;
}

.container-fluid .section-3 .section-3-left button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.container-fluid .section-3 .section-3-right {
  padding: 4rem;
}

.container-fluid .section-3 .section-3-right img {
  width: 300px;
  height: 400px;
}

@media screen and (max-width: 400px) {
  .container-fluid .section-3 .section-3-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .section-3 .section-3-left {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .container-fluid .section-3 .section-3-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-fluid .section-3 .section-3-left {
    text-align: center;
  }
}

.container-fluid .section-4 {
  padding: 0 0 7rem 0;
}

.container-fluid .section-4 .card {
  -webkit-box-shadow: 0 0 10px 0.5px grey;
          box-shadow: 0 0 10px 0.5px grey;
}

.container-fluid .section-4 .card h6 {
  text-align: center;
  margin: 2rem 0;
}

.container-fluid .section-4 .card button {
  background-color: beige;
}

.container-fluid .section-4 .card button:hover {
  background-color: rgba(214, 214, 200, 0.692);
}

.container-fluid .section-4 .card p {
  text-align: center;
}

/*container**/
/*# sourceMappingURL=company.css.map */